<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- extra -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/monokai.min.css">
   
    <link rel="stylesheet" href="css/blog.css" />
    
    <title>Blogs</title>
  </head>
  <body>
    <div class="everything">  
      <header>BLOG POST</header>
      <div class="content">
        <div class="title"><%= Title %></div>
        <div class="desc"><%= Description %></h3>
        <div class="markdown"><%- Markdown %> </h3>
      </div>
    </div>

    <script>
      function highlightCode() {
          var pres = document.querySelectorAll("pre>code");
          for (var i = 0; i < pres.length; i++) {
              hljs.highlightBlock(pres[i]);
          }
      }
      highlightCode();
      </script>
  </body>
</html>
