<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/createNew.css" />
		<script defer src="js/newBlog.js"></script>
		<title>CreateNew</title>
	</head>
	<body>
		<header>Create New Blog</header>
		<div class="mainArea">
			<form class="form" action="/blogs/new" method="post">
				<label for="Title">Title</label>
				<input required type="text" name="Title" class="titleInput" />
				<label for="Description">Description</label>
				<textarea
					required
					name="Description"
					class="descriptionInput"
					id="Description"
					rows="5"
				></textarea>
			</form>
			<div class="controlArea">
				<a href="/" class="cancel">Cancel</a>
				<button onclick="submitform()" class="createNewblog">Submit</button>
			</div>
		</div>
	</body>
</html>
