*{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body{
  display: flex;
  justify-content: center;
}
.everything{
  // overflow: hidden;
  max-width: 80%;
  min-width: 60%;
  // background: lightblue;
  .markdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }
  pre{

    width: 90%;
    background: rgb(222, 220, 220);
    color: rgb(73, 74, 75);
    padding: .5rem 1rem .5rem 1rem;
    text-align: justify;
    margin-top: .4rem;
    border-radius: .4rem;
  }
  img{
    max-width: 95%;
  }

  // background: lightgray;
  header{
    color: rgb(11,174,255);
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bold;
  }
  // background: blanchedalmond;
 
  .title{
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin: 2rem 2rem 1rem 0rem;
  }
}