* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(100, 102, 141);
}
body {
  display: flex;
  justify-content: center;
}
.everything {
  // overflow: hidden;
  max-width: 80%;
  min-width: 60%;
  .markdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h2,
    h1,
    h3 {
      color: rgb(37, 38, 94);
      font-weight: 900;
    }
    h1,
    h2,
    h3,
    p,
    pre {
      margin-top: 1rem;
    }
  }
  pre {
    width: 95%;
  }
  code {
    border-radius: 0.4rem;
  }
  img {
    max-width: 95%;
  }

  // background: lightgray;
  header {
    color: rgb(11, 174, 255);
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bold;
  }
  // background: blanchedalmond;

  .title {
    color: rgb(37, 38, 94);
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin: 2rem 2rem 1rem 0rem;
  }
}
