* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.mainArea {
  height: 100vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form {
    width: 90%;
    padding: 1rem;
    border-radius: 0.4rem;
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    margin: 1rem;
    label {
      font-size: 1rem;
      font-weight: bold;
    }
    input,
    textarea {
      border-style: none;
      width: 90%;
      border-radius: 0.2rem;
      padding: 0.6em;
      border-style: solid;
      border-width: 0.15rem;
    }
  }
  .navbar {
    margin: 1rem;
    padding: 1rem;
    background: rgba(240, 128, 128, 0.664);
    font-size: 2rem;
    font-weight: bold;
    border: solid darkorange 0.15rem;
    border-radius: 0.4rem;

    &:hover {
      background: orange;
      color: aliceblue;
      cursor: default;
      transform: translateY(-5px);
      transition: 200ms ease-in-out;
    }
  }
  .markdown {
    width: 100%;
    display: flex;
    .markdownshow {
      background-color: white;
      flex: 1;
      padding: 0.5rem;
      border-radius: 0.4rem;
      border: solid rgb(102, 101, 100) 0.15rem;
    }
    .markdownArea {
      flex: 1;

      textarea {
        padding: 0.5rem;
        border-radius: 0.4rem;
        border: solid rgb(102, 101, 100) 0.15rem;
      }
    }
  }
  .controlArea {
    background: rgba(255, 160, 122, 0.626);
    padding: 1rem;
    border-radius: 0.4rem;
    border: solid darkorange 0.15rem;

    a {
      color: darkred;
      font-weight: bold;
      font-size: 1rem;
      text-decoration: none;
      background: rgba(240, 128, 128, 0.682);
      border: solid 0.15rem red;
      border-radius: 0.4rem;
      padding: 0.5rem;
      &:hover {
        transition: 200ms ease-in-out;
        background: red;
        color: aliceblue;
      }
    }
    button {
      color: green;
      font-weight: bold;
      font-size: 1rem;
      border-style: none;
      background: rgba(144, 238, 144, 0.564);
      border: solid 0.15rem green;
      border-radius: 0.4rem;
      padding: 0.5rem;
      &:hover {
        transition: 200ms ease-in-out;
        background: green;
        color: aliceblue;
        cursor: pointer;
      }
    }
  }
}
