* {
  padding: 0;
  margin: 0;
  background: lightcyan;
}

header {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: bold;
  text-align: center;
}
.mainArea {
  /* background: blue; */
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  /* background-color: #14b07f; */
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  font-weight: bold;
}
input,
textarea {
  width: 70%;
}
.titleInput {
  font-weight: bold;
}
.controlArea {
  display: flex;
  /* background: #000; */
  align-items: center;
}
.createNewblog {
  border: none;
  font-weight: 600;
  background-color: #14b07f;
  color: #093225;
  padding: 1rem;
  border-radius: 0.4rem;
  margin: 0.5rem;
}
.cancel {
  text-decoration: none;
  font-weight: 600;
  background-color: lightcoral;
  color: white;
  padding: 0.8rem;
  border-radius: 0.4rem;
}
