* {
  padding: 0;
  margin: 0;
  //   background: lightcyan;
  font-family: "Roboto", sans-serif;
}
body {
  background: lightcyan;
}

header {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: bold;
  text-align: center;
}
.mainArea {
  /* background: blue; */
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createNewblog {
  text-decoration: none;
  font-weight: 600;
  background-color: lightgreen;
  color: #093225;
  padding: 1rem;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 0.15rem;
  border-color: #14b07f;
  transition: transform 300ms ease-out;
  &:hover {
    background: #14b07f;
    transform: translateY(-5px);
    transition: 300ms ease-in;
  }
}
.list {
  margin-top: 1.5rem;
  padding: 0.5rem;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 250ms ease-in-out;
}
.container {
  width: 100%;
  margin: 0.5rem;
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  transition: transform 400ms ease-out;

  &:hover {
    background: orange;
    // padding: 1.5rem;
    transform: translateY(-5px);
    transition: 400ms ease-in-out;
  }
}
.Title {
  font-size: 1.5rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    cursor: pointer;
  }
}
